<mat-card >
  <mat-card-title>
    Modificar Producto
  </mat-card-title>
  <div class="divCenter">  
    <div class="cardList">
    <mat-card class="cardListItem">
      <div mat-dialog-content >
        <p>Codigo</p>
          <input matInput>
      </div>
    </mat-card>
    <mat-card class="cardListItem">
      <div mat-dialog-content>
        <p>Descripcion</p>
          <input matInput>
      </div>
    </mat-card>
    <mat-card class="cardListItem">
      <div mat-dialog-content>
        <p>Principio Activo</p>
          <input matInput>
      </div>
    </mat-card>
    <mat-card class="cardListItem">
      <div mat-dialog-content>
        <p>Categoria</p>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </div>
    </mat-card>
    <mat-card class="cardListItem">
      <div mat-dialog-content>
        <p>Unidad Principal</p>
          <input matInput>
      </div>
    </mat-card>
    <mat-card class="cardListItem">
      <div mat-dialog-content>
        <p>Precio Unitario</p>
          <input matInput>
      </div>
    </mat-card>
    <mat-card class="cardListItem">
      <div mat-dialog-content>
        <p>Precio Total</p>
          <input matInput>
      </div>
    </mat-card>
</div>
  </div>
  <div class="divCenterButton">
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="mensaje()" [mat-dialog-close]>Ok</button>
  <button mat-button [mat-dialog-close]>Cancelar</button>
</div>
</div>
</mat-card>