<mat-card >
        <mat-card-title>
          Modificar Farmacia
        </mat-card-title>
        <div class="divCenter">  
          <div class="cardList">
          <mat-card class="cardListItem">
            <div mat-dialog-content >
              <p>RUC</p>
                <input matInput>
            </div>
          </mat-card>
          <mat-card class="cardListItem">
            <div mat-dialog-content>
              <p>Razon Social</p>
                <input matInput>
            </div>
          </mat-card>
          <mat-card class="cardListItem">
            <div mat-dialog-content>
              <p>Direccion</p>
                <input matInput>
            </div>
          </mat-card>
          <mat-card class="cardListItem">
            <div mat-dialog-content>
              <p>Telefono</p>
                <input matInput>
            </div>
          </mat-card>
          <mat-card class="cardListItem">
            <div mat-dialog-content>
              <p>Representante</p>
                <input matInput>
            </div>
          </mat-card>
      </div>
        </div>
        <div class="divCenterButton">
      <div mat-dialog-actions>
        <button mat-button cdkFocusInitial (click)="mensaje()" [mat-dialog-close]>Ok</button>
        <button mat-button [mat-dialog-close]>Cancelar</button>
      </div>
      </div>
      </mat-card>