.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* Column Gap */
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 50px;

  }
  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(33.3% - 0px);
    margin-top: 1%;
  }
  .divCenter{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .divCenterButton{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
  }